{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
	| The Craftsman !
{% endblock %}

{% block body %}
	<section>
		<div class="container p-3 card align-items-center scroll-product-1">
			<div class="card-body">
				<div class="col p-5">
					<h1 class="h3 mb-0 h1-product">The Craftsman®</h1>
					<h2 class="heading highlight highlight-center">Les matelas de la collection The Craftsman
					</h2>
					<h4>
						<p>Chaque matelas est fabriqué avec précision, c'est ce qui fait son exclusivité. En prenant ce temps en plus, la marque The Craftsman est le style même du luxe contemporain.</p>
						<p>Notre fabrication fait partie de notre patrimoine et c’est pour cette raison que nos artisans, sur chaque matelas, réalise avec perfection la finition parfaite.</p>
						<p>Nos matelas bénéficient de la certification CertiPUR et OEKO-TEX, assurance d'une literie de qualité, 
												durable dans le temps et conforme aux normes françaises et européennes. 
												Cette certification garantit aussi la sécurité et la performance des matériaux qui constituent le matelas et le sommier.</p>
						<p>Découvrez la Collection -
							<strong>The Craftsman, Le rève permanent</strong>
						</p>
					</h4>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container p-3 scroll-product-2">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							{% for image in images %}
								{% if image.product.id == product.id and image.certif == 1 %}
									<img src="{{ asset('images/'~ image.url)}}" class="card-img card-img-top" alt="...">
								</div>
								{% if image.product.discount > 0 %}
									{% if product.name == "Royal Diamond" %}									
									<div class="col-md-12">
										<div class="card-body">
											<h3 class="card-title font-weight-bold header-rd">{{product.name}}</h3>
									{% else %}
									<div class="col-md-12">
										<div class="card-body">
											<h3 class="card-title font-weight-bold">{{product.name}}</h3>
									{% endif %}
											<p class="card-text">{{product.description}}</p>
											<span class="badge bg-warning text-dark badge-discount">-{{ product.discount}}%</span>
											<h2>
												<b class="prix-final">{{(product.price - product.price * product.discount / 100)|number_format(2, ',', '') }}
													€
												</b>
											</b>
											<span class="ttc">TTC</span>
											<del class="prix-barre">{{product.price}}
												€ TTC</del>
											<b class="prix-ht">{{ ((product.price - product.price * product.discount / 100)/ 1.2)|number_format(2, ',', '') }}
												€ HT
											</b>
											<h5>{{product.shortDescription}}</h5>
											{% if product.inStock == 1 %}
												<h1>
													<span class="badge bg-success">En stock</span>
												</h1>
												<p>Livraison gratuite sous 48h en IDF</p>
												<a id="visit-store-link" href="{{path('contact')}}" class="btn btn-dark">Réservez maintenant
												</a>
											{% else %}
												<h5>
													<span class="badge bg-warning">Sur commande</span>
													<h5>
														<p>Delais de 6 à 8 semaines</p>
														<a id="visit-store-link" href="{{path('contact')}}" class="btn btn-dark">Commandez maintenant
														</a>
													{% endif %}
												</h1>
											</div>
										</div>
									{% else %}
										<div class="col-md-12">
											<div class="card-body">
												<h3 class="card-title font-weight-bold">{{product.name}}</h3>
												<p class="card-text">{{product.description}}</p>
												<h2>
													<b class="prix-final">{{(product.price)|number_format(2, ',', '') }}
														€
													</b>
												</b>
												<span class="ttc">TTC</span>
												<b class="prix-ht">{{ ((product.price - product.price * product.discount / 100)/ 1.2)|number_format(2, ',', '') }}
													€ HT
												</b>
												<h5>{{product.shortDescription}}</h5>
												{% if product.inStock == 1 %}
													<h1>
														<span class="badge bg-success">En stock</span>
													</h1>
													<p>Livraison gratuite sous 48h en IDF</p>
													<a id="visit-store-link" href="{{path('contact')}}" class="btn btn-dark">Réservez maintenant
													</a>
												{% else %}
													<h5>
														<span class="badge bg-warning">Sur commande</span>
														<h5>
															<p>Delais de 6 à 8 semaines</p>
															<a id="visit-store-link" href="{{path('contact')}}" class="btn btn-dark">Commandez maintenant
															</a>
														{% endif %}
													</h1>
												</div>
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="container p-3">			
				<div class="card">
				<div class="container scroll-product-3">
					<h1>Description de nos matelas
					</h1>
				</div>
				<div id="exTab1" class="container scroll-product-3">
					<ul class="nav nav-pills">
						<li class="active">
							<a href="#1a" data-toggle="tab">Ressort Ensachés SysCoil™</a>
						</li>
						<li class="">
							<a href="#2a" data-toggle="tab">Système SysVent™</a>
						</li>
						<li class="">
							<a href="#3a" data-toggle="tab">Garnissage SysCool™</a>
						</li>
						<li class="">
							<a href="#4a" data-toggle="tab">Système de contour SysStab™</a>
						</li>
						<li class="">
							<a href="#5a" data-toggle="tab">Fiche technique</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="1a">
							<h4>Notre système IntelliCoil™ en alliage à emballage individuel présente une conception unique de ressorts imbriqués off rant un confort de contour et de soutien en profondeur tout en réduisant le transfert de mouvement.</h4>
						</div>
						<div class="tab-pane" id="2a">
							<h4>Des évents en laiton massif à l’ancienne ont été conçus pour améliorer la perméabilité à l’air et la circulation de l’air pour un sommeil plus paisible.</h4>
						</div>
						<div class="tab-pane" id="3a">
							<h4>Offrant un confort incomparable pour bercer votre corps, notre garnissage PrimaCool™ exclusif contient des fi bres de laine et de soie naturellement perméables à l’air infusées au matériau rafraîchissant OUTLAST® et tissées autour d’environ cinq centimètres de mousse gel.</h4>
						</div>
						<div class="tab-pane" id="4a">
							<h4>Notre mousse haute densité offre un cadre de maintien pour une assise solide et confortable jusque sur les bords du lit.</h4>
						</div>
						<div class="tab-pane" id="5a">
							<div class="card mb-3 p-3 row no-gutters col-md-6" style="max-width: 540px;">								
								<div class="ptab-content">
									<div class="tab-header">
										<div><h4>Caractéristiques</h4></div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Technologie du matelas</div>
										<div class="col-6 col-sm-8">Matelas à Ressorts ensachés</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Confort du matelas</div>
										<div class="col-6 col-sm-8">Medium / Mi-ferme</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Accueil du matelas</div>
										<div class="col-6 col-sm-8">Moelleux</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Épaisseur du matelas</div>
										<div class="col-6 col-sm-8">40 cm</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Mousses utilisés</div>
										<div class="col-6 col-sm-8">Mousse à mémoire de forme, Mousse visco</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Coeur du matelas</div>
										<div class="col-6 col-sm-8">25 cm de ressort ensachés</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Réversible</div>
										<div class="col-6 col-sm-8">Non - 1 face de couchage</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Face de couchage</div>
										<div class="col-6 col-sm-8">14 cm de Sur-Matelas intégré (55kg/m³),  matelassé sur de l'ouate polyester (430g/m²)</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Traitement spécial</div>
										<div class="col-6 col-sm-8">Anti-acariens, Anti-bactériens</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Garantie</div>
										<div class="col-6 col-sm-8">10 ans</div>
									</div>
									<hr/>
									<div class="row tab-list">
										<div class="col-6 col-sm-4">Tailles disponibles</div>
										<div class="col-6 col-sm-8">160x190, 180x200, 200x200</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</section>
			<section class="section-range">
				<div class="text-center">
					<div class="container">
						<div class="row pt-4">
							{% for product in products %}
								<div class="col-md-4 opacity1">
									{% for image in images %}
										{% if image.product.id == product.id and image.cover == 1 %}
											{% if image.product.discount > 0 %}											
												{% if product.name == "Royal Diamond" %}												
												<div class="card mb-4 box-shadow">
													<div class="card-header header-rd">
														<h3 class="my-0 font-weight-normal">{{product.name}}</h3>
													</div>
												{% else %}
												<div class="card mb-4 box-shadow">
													<div class="card-header">
														<h3 class="my-0 font-weight-normal">{{product.name}}</h3>
													</div>
												{% endif %}
													<div class="card-body ">
														<span class="badge bg-warning text-dark badge-discount">-{{ product.discount}}%</span>
														<h2>
															<b class="prix-final">{{(product.price - product.price * product.discount / 100)|number_format(2, ',', '')}}
																€
															</b>
															<span class="ttc">TTC</span>
															<del class="prix-barre">{{product.price}}
																€ TTC</del>
															<b class="prix-ht">{{ ((product.price - product.price * product.discount / 100)/ 1.2)|number_format(2, ',', '') }}
																€ HT
															</b>
															<h5>{{product.shortDescription}}</h5>
														</h2>
														<a href="{{ path('product', {'slug': product.slug }) }}">
															<img class="d-block w-100" src="{{ asset('images/'~ image.url)}}" alt="First slide">
														</a>
														<a href="{{ path('product', {'slug': product.slug }) }}" class="btn btn-dark mt-4">En savoir+</a>
													</div>
												</div>
											{% else %}
												<div class="card mb-4 box-shadow">
													<div class="card-header">
														<h3 class="my-0 font-weight-normal">{{product.name}}</h3>
													</div>
													<div class="card-body ">
														<h2>
															<b class="prix-final">{{(product.price)|number_format(2, ',', '')}}
																€
															</b>
															<span class="ttc">TTC</span>
															<b class="prix-ht">{{ ((product.price - product.price * product.discount / 100)/ 1.2)|number_format(2, ',', '') }}
																€ HT
															</b>
															<h5>{{product.shortDescription}}</h5>
														</h2>
														<a href="{{ path('product', {'slug': product.slug }) }}">
															<img class="d-block w-100" src="{{ asset('images/'~ image.url)}}" alt="First slide">
														</a>
														<a href="{{ path('product', {'slug': product.slug }) }}" class="btn btn-dark mt-4">En savoir+</a>
													</div>
												</div>
											{% endif %}
										{% endif %}
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</section>


		{% endblock %}

